<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p><em>Published on: {{ post.date.strftime('%B %d, %Y') }}</em></p>
    
    <div>
        {% if post.category %}
            <!-- Link to the category page -->
            <span>Category: <a href="/categories/{{ post.category | lower }}.html">{{ post.category }}</a></span>
        {% endif %}
        {% if post.tags %}
            <p>Tags: 
            {% for tag in post.tags %}
                <!-- Link to the tag page -->
                <span><a href="/tags/{{ tag | lower }}.html">#{{ tag }}</a></span>
            {% endfor %}
            </p>
        {% endif %}
    </div>

    <hr>
    {{ post.content_html | safe }}
</body>
</html>
