<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p><em>Published on: {{ post.date.strftime('%B %d, %Y') }}</em></p>
    
    <!-- Display Category and Tags -->
    <div>
        {% if post.category %}
            <span>Category: {{ post.category }}</span>
        {% endif %}
        {% if post.tags %}
            <p>Tags: 
            {% for tag in post.tags %}
                <span>#{{ tag }}</span>
            {% endfor %}
            </p>
        {% endif %}
    </div>

    <hr>
    {{ post.content_html | safe }}
</body>
</html>
